<div>
  <div class="mb-4">
    <%= link_to "home", root_path %>
    <%= link_to "02_chat", chat_rooms_path %>
  </div>
  <form class="block">
    <input id="name" type="text" size="10" value="nobody" class="shadow-sm rounded-md border px-3 py-2 mt-2 border-gray-400 focus:outline-blue-600">
    ：
    <input id="body" type="text" size="40" placeholder="メッセージを入力してください"  class="shadow-sm rounded-md border px-3 py-2 mt-2 border-gray-400 focus:outline-blue-600">
    <input id="btn" type="button" value="送信" class="rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer">
  </form>
  <hr class="w-full h-1 my-8 text-gray-500">
  <div id="messages">
    <%= render @messages %>
  </div>
</div>
