<div>
  <h1 class="font-bold text-4xl">Homes#index</h1>
  <p>Find me in app/views/homes/index.html.erb</p>
</div>
<div>
  <%= link_to "01_chat", messages_path %>
  <%= link_to "02_chat", chat_rooms_path %>
</div>
